<div class="user-history-page-container">
<img class="user-history-page-background" src="../../assets/background.svg" />
    <img class="user-history-page-arrow" src="../../assets/back-arrow.svg" (click)="handleBack()" />
    <div class="user-history-page-user-info">
        <img class="user-history-page-user-icon" src="../../assets/user-icon-white.svg"/>
        <p class="white">Hi {{ user.userName }}</p>
    </div>
    <h1 class="user-history-page-title white">
      {{ user.userName }}'s summary
  </h1>
  </div>