<div class="home-page-container">
  <!-- <img class="home-page-background" src="../../assets/background.svg" /> -->
  <div class="home-page-user-info">
    <img class="home-page-user-icon" src="../../assets/user-icon.svg" />
    <p>Hi {{username}}</p>
  </div>
  <h1 class="home-page-title white">
      Home
  </h1>

  <ul *ngFor="let home of homes">
    <li>{{home.full_name}}</li>

    </ul>
  <img class="home-page-add-arrow" src="../../assets/add-arrow.svg" (click)="handleAddhome()" />
</div>

