<div class="bill-detail-page-container">
    <header class="bill-detail-header flex-align-center">
        <img class="bill-detail-page-arrow" src="../../assets/back-arrow-black.svg" (click)="handleBack()" />
        <div class="bill-detail-page-user-info">
            <img class="bill-detail-page-user-icon" src="../../assets/user-icon.svg" />
            <p>Hi {{ user.userName }}</p>
        </div>
    </header>
    <div class="bill-detail-page__detail">
        <div class="bill-detail-page__name flex-align-center">
            <p class="bold">
                Bill Name:&nbsp;
            </p>

            <p>{{ billDetail && billDetail[0].billName }}</p>

            <!-- <p>
                {{ billDetail && billDetail[0].billName }}
            </p> -->

            <button class="edit-button" (click)="nameOnclick()">
                Edit
            </button>
        </div>
        <input class="edit-text" *ngIf="nameFlag" [(ngModel)]="billDetail[0].billName" type="text" class="form-control" />
        <div class="bill-detail-page__creator flex-align-center">
            <p class="bold">
                Creator:&nbsp;
            </p>
            <p>
                {{ billDetail && findOwner(billDetail) }}
            </p>
        </div>
        <div class="bill-detail-page__time flex-align-center">
            <p class="bold">
                Create Time:&nbsp;
            </p>
            <p>
                {{ billDetail && billDetail[0].created_at.substr(0, 10) }}
            </p>
        </div>
        <div class="bill-detail-page__amount flex-align-center">
            <p class="bold">
                Total Amount:&nbsp;
            </p>
            <p>
                {{ billDetail && billDetail[0].totalAmount }}
            </p>

            <button class="edit-button" (click)="amountOnclick()">
                Edit
            </button>
        </div>
        <input class="edit-text" *ngIf="amountFlag" [(ngModel)]="billDetail[0].totalAmount" type="text" class="form-control" />
        <div class="bill-detail-page__split flex-align-center">
            <p class="bold">
                Split by:&nbsp;
            </p>
            <p>
                Percentage
            </p>
            <button class="edit-button">
                Edit
            </button>
        </div>
        <div class="bill-detail-page__users" *ngFor="let item of billDetail; let i = index">
            <div class="flex-align-center">
                <p class="bold">{{ billDetail && getTitle(i) }}:</p>

                <p>Filename: {{ fileName }}</p>
            </div>
            <div class="flex-align-center">
                <p>{{ billDetail && billDetail[i].userName }}</p>
                <p>({{ billDetail && billDetail[i].proportion * 100 }}%)</p>
                <!-- <button class="user-button">{{ billDetail && getButtonText(i) }}</button> -->
                <label class="upload-btn">
                    <input type="file" id="input-file" name="file" (change)="onFileUpload($event.target.files)" />
                    <span id="selectedFileName">{{ billDetail && getButtonText(i) }}</span>
                </label>
                <!-- <input name="Filename:" type="file" id="upload-photo" /> -->
            </div>
        </div>

        <div class="delete-button">
            <button>
                Delete
            </button>
        </div>
    </div>
</div>
