<div class="home-detail-page-container">
    <img class="home-detail-page-background" src="../../assets/background.svg" />
    <img class="home-detail-page-arrow" src="../../assets/back-arrow.svg" (click)="handleBack()" />
    <div class="home-detail-page-user-info">
        <img class="home-detail-page-user-icon" src="../../assets/user-icon-white.svg" />
        <p class="white">Hi {{ user.userName }}</p>
    </div>
    <h1 class="home-detail-page-title white">
        {{ home.full_name }}
    </h1>
    <div class="home-detail-page-item">
        <div class="home-detail-page__title flex-align-center">
            <div class="home-detail-page-current-roommate">
                Current Roommates
            </div>
            <button class="home-detail-page-balance-button">
                Net Balance
            </button>
        </div>

        <div *ngIf="isowner; then owner; else roommate"></div>
        <ng-template class="home-detail-page-nameAndButtons flex-align-center" #owner>
            <div class="home-detail-page-add-delete flex-align-center">
                <p>{{ roommate_string }}</p>
                <div class="home-detail-page__arrows flex-align-center">
                    <img src="../../assets/add-arrow.svg" class="home-detail-page-add-arrow" (click)="addRoommate()" />
                    <img src="../../assets/minus-arrow.svg" class="home-detail-page-minus-arrow" (click)="removeRoommate()" />
                </div>
            </div>
        </ng-template>

        <ng-template class="home-detail-page-nameAndButtons flex-align-center" #roommate>
            <div class="home-detail-page-add-delete flex-align-center">
                <p>{{ roommate_string }}</p>

                <button class="home-detail-page-exit" (click)="(removeMyself)">exit</button>
            </div>
        </ng-template>

        <div class="home-detail-page-bill-list">
            <div class="home-detail-page-bill-list-head">
                <div class="flex-align-center">
                    <div class="home-detail-page-bill-list-title">
                        Bills
                    </div>
                    <button class="home-detail-page-bill-list-view-button" (click)="redirectToSummary()">
                        Summary
                    </button>
                    <button class="home-detail-page-bill-list-create-button" (click)="redirectToBill()">
                        Create New
                    </button>
                </div>
                <div *ngFor="let item of billArray; let i = index">
                    <div class="home-detail-page-bill-list-detail flex-align-center">
                        <div>
                            <div class="home-detail-page-bill-list-title flex-align-center">
                                <P>{{ billArray[i].billName }}</P>
                                <button class="home-detail-page-bill-list-delete" (click)="deleteBill(billArray[i].id)">
                                    Delete
                                </button>
                                <button class="home-detail-page-bill-list-edit">
                                    Edit
                                </button>
                            </div>
                            <p>Created By: {{ billArray[i].created_by }} {{ billArray[i].created_at.substr(0, 10) }}</p>
                        </div>
                        <div class="home-detail-page-list-view">
                            <button (click)="redirectToDetail(billArray[i].id)">
                                View
                            </button>
                            <button (click)="redirectToHistory(billArray[i].id)">
                                History
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
