<div class="create-bill-one-container">
    <div class="create-bill-one-container__header flex-align-center">
        <img class="home-detail-page-back-arrow" src="../../assets/back-arrow-black.svg" (click)="handleBack()" />
        <div class="create-bill-one-container__header-user">
            <img class="home-detail-page-user-icon" src="../../assets/user-icon.svg" />
            <p>Hello, {{ user.userName }}!</p>
        </div>
    </div>
    <div class="create-bill-one__form">
        <form [formGroup]="oneTimeBillForm">
            <h3>One Time Bill</h3>
            <div class="create-bill-one__billName">
                <p>Bill Name</p>
                <input type="text" formControlName="billname" />
            </div>
            <div class="create-bill-one__description">
                <p>Description</p>
                <input type="text" formControlName="description" />
            </div>
            <div class="create-bill-one__amount">
                <p>Amount Due</p>
                <div class="amount-input flex-align-center">
                    <input type="number" formControlName="amount" (change)="updateOwner()" />
                    <input
                        class="create-bill-one__file"
                        type="file"
                        id="imageUpload"
                        accept=".png, .jpg, .jpeg"
                        #fileInput
                        (change)="uploadFile($event)"
                    />
                    <label for="imageUpload" [ngClass]="['custom-label', 'upload-image']">{{ labelMsg }}</label>
                    <select #plan (change)="updateList($event)" *ngIf="shareplan_array.size>0">
                        <option value="-1">Choose a share plan...</option>
                        <option *ngFor="let plan of shareplan_array; let i = index" value ="i">{{ plan.full_name }}</option>
                    </select>
                    <!-- <label class="image-upload-container btn btn-bwm">
                        <input #imageInput
                               type="file"
                               accept="image/*"
                               (change)="processFile(imageInput)">
                      </label> -->
                    <!-- <button (click) = "onUpload()">Upload Receipt</button> -->
                </div>
            </div>
            <div class="create-bill-one__splitwith flex-align-center">
                <p>Split with</p>
                <select name="shareplan" id="shareplan" formControlName="splitMethod" (change)="updateOwner(); plan.value = -1">
                    <option value="Percentage">Percentage</option>
                    <option value="Amount">Amount</option>
                </select>
                <img src="../../assets/add-arrow.svg" class="button" (click)="addItems(shareDetail)" />
                <img src="../../assets/minus-arrow.svg" class="button" id="minus" (click)="deleteItems()" />
            </div>
            <p>You are now paying {{ownerpp}}% of this bill, in total ${{owneram}}.</p>
            <div *ngIf="oneTimeBillForm.value.splitMethod=='Percentage'; then pp; else am"></div>
            <ng-template class="home-detail-page-nameAndButtons flex-align-center" #pp>
                <div class="create-bill-one__user flex-align-center" formArrayName="addDynamicElement">
                    <!-- <select name="user1" id="user1">
                        <option value="1">User1</option>
                    </select>
                    <input type="number" /> -->
                    <ul class="create-bill-one__subjectList">
                        <li
                            *ngFor="let item of addDynamicElement.controls; let i = index"
                            class="create-bill-one__list_elements flex-align-center"
                            [formGroupName]="i"
                            (change)="changeName(i, $event)"
                        >
                            <select  formControlName="rm_name">
                                <option>{{item.get('rm_name').value.length!=0 ? item.get('rm_name').value : 'Choose'}}</option>
                                <option *ngFor="let rm of roommate_array">{{ rm }}</option>
                            </select>
                            <input type="number" class="form-control" formControlName="amount" placeholder="Amount Shared" />
                            <span matSuffix>%</span>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <ng-template class="home-detail-page-nameAndButtons flex-align-center" #am>
                <div class="create-bill-one__user flex-align-center" formArrayName="addDynamicElement">
                    <!-- <select name="user1" id="user1">
                        <option value="1">User1</option>
                    </select>
                    <input type="number" /> -->
                    <ul class="create-bill-one__subjectList">
                        <li
                            *ngFor="let item of addDynamicElement.controls; let i = index"
                            class="create-bill-one__list_elements flex-align-center"
                            [formGroupName]="i"
                            (change)="changeName(i, $event)"
                        >
                            <select  formControlName="rm_name">
                                <option>{{item.get('rm_name').value.length!=0 ? item.get('rm_name').value : 'Choose'}}</option>
                                <option *ngFor="let rm of roommate_array">{{ rm }}</option>
                            </select>
                            <input type="number" class="form-control" formControlName="amount" placeholder="Amount Shared" />
                            <span matSuffix>.00</span>
                        </li>
                    </ul>
                </div>
            </ng-template>

            <button class="createbutton" type="submit" (click)="onSubmit()">Create</button>
        </form>
    </div>
</div>
