@import '../../styles.scss';
.payment-history-container {
    width: 100%;
    height: 100%;
    position: relative;

    h3,
    h4,
    h6,
    h5 {
        margin: 0px;
        font-weight: normal;
    }
    h3 {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .login-page-background {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .payment-history__header {
        width: 100%;
        color: white;
        padding: 20px;
        position: absolute;
        .payment-history__header-user {
            text-align: right;
            margin-left: auto;
        }
    }
    h2 {
        position: absolute;
        top: 90px;
        left: 20px;
        color: white;
    }
    .payment-history__form {
        margin-bottom: 20px;
        .summary__roommates {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
            padding: 10px;
        }
        position: absolute;
        top: 150px;
        left: 20px;
        right: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        padding: 20px;
        background-color: white;
        .summary__all {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px;
            .payment-history__detail {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                p {
                    margin-left: auto;
                    margin-right: 10px;
                    font-size: $size__font--text;
                }
                .viewbutton {
                    margin-left: auto;

                    background-color: $color--theme;
                    border: none;
                    border-radius: 4px;
                    color: $color--white;
                    font-size: $size__font--hint;
                    width: 35px;
                    height: 35px;
                    display: block;
                }
            }
        }
    }
}
