/*rbh front-end global styles */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$size__font--large: 36px;
$size__font--regular: 18px;
$size__font--text: 16px;
$size__font--hint: 10px;

$color--theme: #8c94e2;
$color--red: #fd3b3b;
$color--grey--dark: #8d8989;
$color--grey--light: #9e9e9e;
$color--grey--border: #e5e5e5;
$color--black: #000000;
$color--white: #ffffff;

*,
*:before,
*::after {
    box-sizing: border-box;
}

p {
    font-size: $size__font--regular;
}

h1 {
    font-size: $size__font--large;
}

span{
    font-size: $size__font--hint;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial';
}

div,
section,
mat-form-field {
    &.flex {
        display: flex;
        flex-direction: column;
    }

    &.flex-align-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &.red {
        color: $color--red;
    }

    &.white {
        color: $color--white;
    }


}

h1,
p {
    margin: 0;
    &.white {
        color: $color--white;
    }
    &.red {
        color: $color--red;
    }
}
