<div class="create-option-page-container">
    <div class="create-option-page-container__header flex-align-center">
        <img class="home-detail-page-back-arrow img-back-arrow-black" src="../../assets/back-arrow-black.svg" (click)="handleBack()" />
        <div class="create-option-page-container__header-user">
            <img class="home-detail-page-user-icon img-user-icon" src="../../assets/user-icon.svg" />
            <p>Hello, {{user.userName}}!</p>
        </div>
    </div>

    <div class="create-option-page-container__main">
        <h2>To Create a</h2>
        <div>
            <button (click)="handleOneTimeCreate()">One Time Bill</button>
        </div>
        <div>
            <button (click)="handleRecurringTimeCreate()">Recurring Bill</button>
        </div>
    </div>
</div>
